body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 1rem;
}

.btn-primary {
    background-color: #f0c040;
    color: #000000;
}

.prodects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rating span {
    color: #ffc000;
}

.prodect {
    border: 1px #404040 solid;
    margin: 1rem;
}

.prodect .prodect-info {
    padding: 1rem;
}

.img-large {
    max-width: 100%;
}

.img-thumbnail {
    height: 80px;
}

.small-container {
    max-width: 600px;
}